/* commons */

/* /commons */

/* head */
.logo-container {
    display: flex;
    justify-content: flex-end;
}
.sony-logo {
    height: 15px;
    margin: 10px 0;
}
/* /head */

/* main */

/* /main */

/* body */

/* /body */
