/* commons */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.btn {
    border-radius: 25px;
    font-weight: bold;
    padding: 10px 15px
}
/* /commons */

/* head */
.logo-container {
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}
.sony-logo {
    height: 15px;
    margin: 10px 0;
}
.navbar {
    z-index: 9;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-nav li a {
    font-weight: 600;
    font-size: 17px;
    margin-right: 15px;

}
.log-in-btn {
    margin-right: 35px;
}
.search-btn {
    background-color: transparent;
    border: none;
    font-size: 21px;
}
/* /head */

/* main */

/* hero */
.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding: 60px 40px;
    display: flex;
    align-items: flex-end;
    color: #fff;
}
.col-xl-3 {
    width: 26%;
}
.hero img {
    width: 230px;
}
.hero-1 {
    background-image: url(../img/jumbo-bg.png);
    margin-top: 111px;
}
.hero h1 {
    font-size: 3.1rem;
}
.hero p {
    font-size: 1.2rem;
    font-weight: 500;
}
.hero-col > * {
    margin: 16px 0;
}
.hero-caroulser-img {
    max-width: 2100px;
    justify-content: space-between;
    text-align: center;
}
.img-1 {
    outline-offset: 3px;
    outline: 3px solid #3f94da;
}
.hero-caroulser-img .row {
    padding: 18px 25px;
}
.hero-caroulser-img img {
    border-radius: 15px;
    margin: 20px 0;
    width: 80%;
}
/* /hero */

/* playstation 5 section */
.play5-section, .play4-section, .sconti-section {
    margin-top: 100px;
}
.col-title {
    text-align: center;
}
.col-title small {
    font-size: 18px;
    color: #0273ce;
    font-weight: 600;
}
.col-title h2, .col-play5-row-one h2  {
    font-size: 50px;
}
.col-title span, .col-play5-row-one span {
    display: block;
    margin-top: 40px;
    font-size: 28px;
    color: #727272;
    font-weight: 500;
}
.container-ps5-product {
    max-width: 1800px;
}
.play5-row-two {
    align-items: center;
    padding: 0 40px;
}
.col-play5-row-one {
    margin-top: 100px;
}
.play5-row-two button {
    display: block;
    margin-top: 40px;
}
.play5-row-five {
    padding: 30px 0;
}
.play5-row-five .col {
    text-align: center;
}
.play5-row-five img {
    width: 50%;
}
.play5-row-five-title {
    display: block;
    max-width: 220px;
    font-size: 23px;
    font-weight: 500;
    margin: auto;
}
.play5-active {
    outline-offset: 3px;
    border-bottom: 3px solid #4095da;
}
.unactive {
    opacity: 0.5;
}
/* /playstation 5 section */

/* hero2 */
.bg-color-dark {
    background-color: #1f1f1f;
    padding-bottom: 100px;
}
.hero-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    margin-top: 50px;
}
.hero-caroulser-img h3, .hero-caroulser-img h4, .hero-caroulser-img h5 {
    color: #fff;
    text-align: start;
}
.hero-caroulser-img h3, .hero-caroulser-img h4 {
        margin: 30px 0 0 40px;
}
.hero-caroulser-img h3 {
    font-size: 43px;
}
.hero-caroulser-img h4 {
    font-size: 36px;
}
.hero-caroulser-img h5 {
    max-width: 256px;
    margin: auto;
    font-size: 22px;
    padding: 0 10px;
}
/* /hero2 */

/* playstation 4 section */
.col-title h2 small {
    color: #000;
    vertical-align: super;
    font-size: 25px;
}
.row-three-ps4 {
    padding: 80px 40px;
}
.row-three-ps4 .col-12 {
    padding: 20px 15px 40px 15px;
}
.row-three-ps4 h2 {
    font-size: 40px;
}
.row-three-ps4 span {
    display: block;
    font-size: 28px;
    color: #727272;
    font-weight: 500;
}
.btn-ps4 {
    margin-top: 20px;
}
/* /playstation 4 section */

/* playstation plus section */
.playplus-section {
    background-color: #bebcbb;
}
.playplus-section .row, .playnow-section .row {
    align-items: center;
    padding: 0 40px;
}
.playplus-row-1 {
    padding: 80px 0;
}
.playplus-row-1 img {
    width: 400px
}
.playplus-row-1 p {
    font-size: 25px;
    margin: 50px 0;
}
.playplus-row-2 img {
    width: 80%;
}
.btn-link {
    text-decoration: none;
    background-color: #d9dadc;
}
/* /playstation plus section */

/* sconti section */
.row-three-sales-discount .col-12 {
    padding: 50px 0;
    text-align: center;
} 
.row-three-sales-discount img {
    width: 70%;
}
/* /sconti section */

/* playstation now section */
.playnow-section {
    background-color: #161c3b;
    color: #fff;
}
/* /playstation now section */

/* social media section */
.social-media {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 50px 0;
}
.social-media .row {
    justify-content: center;
}
.social-media h3 {
    margin-bottom: 80px;
}
.social-media img {
    width: 90%;
    margin-bottom: 40px;
}
/* /social media section */

/* footer */
footer {
    background-color: #00439c;
    color: #fff;
    padding: 80px 0;
}
.footer-first {
    align-items: center;
    padding-left: 40px;
}
.play-language  {
    width: 20px;
    display: inline-block;
    margin-top: 50px;
}
.footer-ul li {
    list-style-type: none;
    margin: 10px 0;
}
.footer-ul a {
    text-decoration: none;
    color: #fff;
}
.footer-first .col-md-6 {
    margin: 30px 0;
}
.footer-last {
    padding: 20px 0 0 40px;
}
.sony-footer-logo {
    width: 150px;
}
.footer-last p {
    padding-top: 30px;
}
.footer-last a {
    color: #fff;
}
/* /footer */

/* /main */

/* body */

/* /body */
