/* commons */
head {
    position: fixed;
}
/* /commons */

/* head */
.logo-container {
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}
.sony-logo {
    height: 15px;
    margin: 10px 0;
}
.navbar {
    z-index: 9;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-nav li a {
    font-weight: 600;
    font-size: 17px;
    margin-right: 15px;

}
.log-in-btn {
    border-radius: 25px;
    margin-right: 35px;
    font-weight: bold;
}
.search-btn {
    background-color: transparent;
    border: none;
    font-size: 21px;
}
/* /head */

/* main */

/* /main */

/* body */

/* /body */
